body{
	background:#e0f1f7;
	min-height:1500px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5){
	body{
		// background:#e9f3f7 url("/img/bg@2x.png") top center;
		background-size:10px 10px;
	}
}
#spinner{
	height:100%;
	width:100%;
	position:fixed;
	z-index:1000;
}
.debug{
	display:none;
}
.hidden{
	display:none;
}
.overlay{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:50;
}
.footer{
	text-align:center;
}
#tlkio{
	position:fixed;
	top:0px;
	right:-280px;
	@include single-transition(ease-out, right, 300ms, 0ms);
	z-index:1000;
	background:#333;
	&.open{
		right:0px;
		@include box-shadow(-1px 0px 5px black(0.15));
	}
	.open-chat, .report-bug{
		display:block;
		background:$blue;
		@include border-radius(3px 3px 0px 0px);
		position:absolute;
		top:300px;
		right:264px;
		text-transform:uppercase;
		color:white;
		padding:3px 10px;
		@include rotate(270deg);
		@include box-shadow(-1px 0px 1px black(0.15));
		z-index:1001;
		white-space:nowrap;
	}
	.report-bug{
		top:400px;
		right:236px;
	}
}