.level2 {
  font-size: 1.25rem;
  text-align: center;
  padding-top: 3rem;
  margin-top: 0;
}

.level3 {
  font-size: 1.1rem;
  text-align: center;
  padding-top: 1.5rem;
  margin-top: 0;
}

.level4 {
  font-size: 1rem;
  text-align: center;
  padding-top: 1.25rem;
  margin-top: 0;
}
