<template name="poll_form">
	<div class="poll-new module">
		
	{{#if pollVoted}}

		{{#if binaryPoll}}
			<div class="progress-bs">
				<div class="progress-bar progress-bar-success" style="width: {{votePercentage order=1}}%">
					<span class="label">{{votePercentage order=1}}%</span>
				</div>
				<div class="progress-bar progress-bar-danger" style="width: {{votePercentage order=2}}%">
					<span class="label">{{votePercentage order=2}}%</span>
				</div>
	 		</div>

			<div class="ui divided selection list">
				<a class="item">
					<div class="ui green circular horizontal label result-label">{{this.poll.options.[0].votes}}</div>
					 voted {{this.poll.options.[0].name}}
					 <div class="result-label poll-voters-avatars">
					 	{{> poll_avatars data=this.poll.options.[0] upvoters=this.upvoters}}
					 </div>
				</a>
				<a class="item">
					<div class="ui red circular horizontal label result-label">{{this.poll.options.[1].votes}}</div>
					 voted {{this.poll.options.[1].name}}
					 <div class="result-label poll-voters-avatars">
					 	{{> poll_avatars data=this.poll.options.[1]}}
					 </div>
				</a>
			</div>

	 		<div class="bar-label inline">
	 			<div class="left pull-left inline"> </div> 
	 			<div class="right pull-right inline"></div>
	 		</div>

		{{/if}}

		{{#if multiplePoll}}

			<div class="ui divided selection list">

			{{#each this.poll.options}}
			
				<a class="item">
					{{#if hasVotes}}
					<div class="progress-bs progress-bs-multiple">
						<div class="progress-bar progress-bar-success progress-bar-multiple" style="width: {{multiplePollBarPercentage order=voteOrder votes=votes voteCount=../poll.voteCount options=../poll.options}}%">
							<span class="label">{{votePercentage order=voteOrder votes=votes voteCount=../poll.voteCount}}%</span>
						</div>
			 		</div>
			 		{{/if}}
					<div class="ui circular horizontal label result-label">{{votes}}</div>
					 voted {{name}}
					 <div class="result-label poll-voters-avatars">
					 	{{> poll_avatars data=this}}
					 </div>
				</a>

			{{/each}}
			</div>

		{{/if}}

		<div class="ui divider"></div>
		<p>{{> shareit_fb}} {{> shareit_twitter}} Share to see what your fiends think of this question.  </p>

	{{else}}
		<a class="ui red ribbon label">Vote to see friends' votes</a>
		{{#if binaryPoll}}

			<div class="ui large form">
				<div class="two fields">
					<div class="field">
	        			<div class="positive ui button poll-binary-vote-btn" id="1">{{this.poll.options.[0].name}}</div>
					</div>
					<div class="field">
						<div class="negative ui button poll-binary-vote-btn" id="2">{{this.poll.options.[1].name}}</div>
					</div>
				</div>
			</div>

		{{/if}}

		{{#if multiplePoll}}
			<form class="ui form">
			<div class="grouped fields center aligned">
				<div class="ui list">
					{{#each this.poll.options}}
		  				<div class="item poll-option poll-multiple-vote-btn">
		  					<div class="ui green button" id="{{voteOrder}}" order="{{voteOrder}}">
							<label>{{name}}</label>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
			</form>
		{{/if}}
		<div class="ui divider"></div>
		<div class="circular ui icon button custom-answer-btn">
		  	<i class="icon comment"></i> I have a different answer.
		</div>
	{{/if}}

	</div>
</template>