form, .accounts-dialog{
	&.form-block{
		background:$lightest-grey;
		@include border-radius(3px);
		margin-bottom:10px;
		padding:10px;
	}
	// @extend .grid-block;
	>div{
		@include cf;
	}
	.control-group, .form-group{
		@include cf;
		margin-bottom:$grid-padding;
		>label{
			float:left;
			margin-right:10px;
		}
		.controls{
			margin-left:150px;
			position:relative;
			.inline-link{
				position:absolute;
				display:block;
				top:2px;
				right:8px;
				&.loading{
					background:url(/img/loading.gif) center center no-repeat;
					height:22px;
					width:18px;
					@include hide-text2;
				}
			}
			label{
				display:block;
				margin-bottom:5px;
			}
			label.inline{
				display:inline-block;
				margin-bottom:0;
			}
		}
		&.inline{
			.controls{
				margin-left:0px;
				width:80%;
				float:left;
			}
			.submit{
				float:right;
			}
			margin-bottom:10px;
		}
	}
	.form-actions{
		@include cf;
		a{
			float:left;
			display:block;
		}
	}
	input[type="text"], input[type="password"], input[type="number"], textarea, .login-form input{
		display:block;
		padding:5px 6px;
		width:100%;
		font-size:14px;
		@include border-box;
		border:1px solid $grey;
		@include single-transition(border-color, 500ms);	
		// @include box-shadow(inset 0px 0px 0px 1px black(0.2));
		&:focus{
			outline: none;
			border-color:$red;
			@include box-shadow(0px 0px 5px 0px rgba($red,0.3));
		}
	}
	input[type="text"], input[type="password"], input[type="number"], .login-form input{
		height:30px;
		line-height:20px;
	}
	input[disabled='disabled']{
		color:$light-text;
		background:$lightest-grey;
	}
	textarea{
		min-height:100px;
		line-height:1.4;
	}
	input[type="submit"], button, .button, .btn{
		float:right;
	}
	.note{
		padding: 5px 0;
		color: $light-text;
		font-size: 80%;
	}
}
input[type="submit"], button, .button, .btn{
	-webkit-appearance: none;
	@include border-radius(0px);
	background:$red;
	color:white;
	text-align:center;
	display:block;
	padding:0px 10px;
	border:none;
	font-size:16px;
	cursor:pointer;
	margin:0;
	line-height:26px;
	height:26px;
	font-weight:normal;
	&.disabled{
		background:$lighter-grey;
		pointer-events:none;
	}
	&:link, &:hover, &:active, &:visited{
		color:white;
	}
	&.inline{
		display: inline-block;
	}
}
.twitter-signup{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid $lighter-grey;
	.twitter-button{
		background:#00aced;
	}
}
.category-slug{
	font-size:12px;
	float:left;
	width:80%;
	display:block;
}
.ui-autocomplete{
	background: white;
	width: 200px!important;
	padding:10px;
	font-size:14px;
	@include box-shadow(0 1px 1px black(0.15));
}