.user-list, .user-table{
	.user{
		.user-avatar{
			height:30px;
			width:30px;
			display:block;
			@include border-radius(30px);
		}
		.posts-list{
			
		}
	}
}
table{
	tr{
		td{
			padding:10px;
		}			
	}
	thead{
		tr{
			td{
				font-weight:bold;
			}
		}
	}
	tbody{
		tr{
			td{
				
			}			
		}
	}

}