.filter-sort{
	@include cf;
	background: $lightest-grey;
	@include border-radius(3px);
	padding: 8px 15px;
	font-size: 14px;
	a, span{
		display: inline-block;
		margin-right: 20px;
		&.active{
			border-bottom: 2px solid $blue;
		}
	}	
	.filter{
		float: left;
	}
	.sort{
		float: right;
	}

}
.user-list, .user-table{
	.user{
		.user-avatar{
			height:30px;
			width:30px;
			background-size: 30px 30px;
			display:block;
			@include border-radius(30px);
		}
		.posts-list{
			
		}
	}
}
table{
	tr{
		td{
			padding:10px;
		}			
	}
	thead{
		tr{
			td{
				font-weight:bold;
			}
		}
	}
	tbody{
		tr{
			td{
				
			}			
		}
	}

}