{
	"plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-export-default-from",
	],
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "corejs":2,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
}
