{
	"plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
	],
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "corejs":2,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
}
