{
	"plugins": [
	],
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "corejs":2,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
}
