{
  "extends": [
    "eslint:recommended",
    "plugin:meteor/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "babel/generator-star-spacing": 0,
    "babel/new-cap": [1, {
      "capIsNewExceptions": [
        "Optional",
        "OneOf",
        "Maybe",
        "MailChimpAPI",
        "Juice",
        "Run",
        "AppComposer",
        "Query",
      ]
    }],
    "babel/array-bracket-spacing": 0,
    "babel/object-curly-spacing": 0,
    "babel/object-shorthand": 0,
    "babel/arrow-parens": 0,
    "babel/no-await-in-loop": 1,
    "comma-dangle": 0,
    "key-spacing": 0,
    "no-extra-boolean-cast": 0,
    "no-undef": 1,
    "no-unused-vars": [1, {
      "vars": "all",
      "args": "none",
      "varsIgnorePattern": "React|PropTypes|Component"
    }],
    "no-console": 1,
    "react/prop-types": 0,
    "meteor/audit-argument-checks": 0,
    "no-case-declarations": 0
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "meteor": true,
    "node": true
  },
  "plugins": [
    "babel",
    "meteor",
    "react"
  ],
  "settings": {
    "import/resolver": "meteor"
  },
  "modules": true,
  "root": true,
  "globals": {
    "param": true,
    "returns": true
  }
}
