.root {
  background: #FFF;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 10px;
  position: relative;
  margin-bottom: 2rem;
  overflow-x: scroll;
}

.name {
  position: absolute;
  top: 0;
  right: 0;
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 0.25rem 1rem;
  color: #888;
  font-size: 0.8rem;
}

.hiddenName {
  display: none;
}

.collapsed {
  height: 45px;
  overflow: hidden;
  font-family: 'Inconsolata';
}

.expanded {
  font-family: 'Inconsolata';
}

.indicator {
  cursor: pointer;
  margin-left: 10px;
}
