.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F8FAFA;
  border-bottom: 1px solid #eee;
  line-height: 1.6;
}

.heart {
  color: rgb(200, 0, 0);
  font-size: 22px;
  position: relative;
  top: 3px;
}

.emojiAttribution {
  margin-top: 0.5rem;
  font-size: 0.7rem;
}
