.firstName, .email {
  font-family: "Open Sans";
  font-size: 15px;
  border: 1px solid #ABB0B2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #343434;
  background-color: #fff;
  box-sizing:border-box;
  height:32px;
  padding: 0px 0.4em;
  display: block;
  margin: 0;
  width:260px;
  vertical-align:top;
  margin: 0 auto;
  margin-bottom: 0.75rem;
}

@media (max-width: 768px) {
  .firstName, .email {
    width:100%;
    margin-bottom:5px;
  }
}
