.root {
  text-align: center;
  margin-bottom: 20px;
}

.githubButtonWrapper {
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
}

.twitterButtonWrapper {
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
}

.facebookButtonWrapper {
  position: relative;
  top: -5px;
  margin-top: 30px;
}
