<!-- 

Dropdown Component

dropdownName (String)

dropdownItems (Array)
- route (String/Function) [optional]
- label (String/Function) [optional]
- description (String) [optional]
- adminOnly (Boolean) [optional]

dropdownLabel (String) [optional]

-->

<template name="dropdownComponent">
  <div class="dropdown header-submodule {{dropdownClass}}">
    <div class="dropdown-top-level" href="/">{{dropdownLabel}}</div>
    <div class="dropdown-menu">
      {{#with dropdownItems}}
        <ul class="dropdown-contents" role="menu" aria-labelledby="dLabel">
          {{#each this}}
            {{#if showDropdownItem}}
              <li class="{{itemClass}}">
                <a class="dropdown-sub-level" href="{{itemRoute}}">
                  <span class="menu-label">{{itemLabel}}</span>
                  {{#if description}}<span class="menu-description">{{_ description}}</span>{{/if}}
                </a>
              </li>
            {{/if}}
          {{/each}}
        </ul>
        {{#if showMore}}
          <a class="show-more" href="#">
            <img class="show-more-plus" src="/img/plus.svg" alt="{{_ "Show More"}}" />
            <img class="show-more-minus" src="/img/minus.svg" alt="{{_ "Show Less"}}" />
          </a>
        {{/if}}
      {{/with}}
    </div>
  </div>
</template>