<!-- 

Dropdown Component

dropdownName (String)

dropdownItems (Array)
- route (String/Function) [optional]
- label (String/Function) [optional]
- description (String) [optional]
- adminOnly (Boolean) [optional]
- template (String) [optional]
- data (Object) [optional]

dropdownLabel (String) [optional]

dropdownExpanded (Boolean) [optional]

dropdownClass (String) [optional]

-->

<template name="dropdownComponent">
  <div class="dropdown {{dropdownClass}}">
    <div class="dropdown-top-level" href="/">{{dropdownLabel}}</div>
    <div class="dropdown-menu">
      {{#with dropdownItems}}
        <ul class="dropdown-contents" role="menu" aria-labelledby="dLabel">
          {{#each this}}
            {{#if showDropdownItem}}
              {{#if hasTemplate}}
                {{> Template.dynamic template=template data=data}}
              {{else}}
                <li class="{{itemClass}}">
                  <a class="dropdown-sub-level" href="{{itemRoute}}">
                    <span class="menu-label">{{itemLabel}}</span>
                    {{#if description}}<span class="menu-description">{{_ description}}</span>{{/if}}
                  </a>
                </li>
              {{/if}}
            {{/if}}
          {{/each}}
        </ul>
        {{#if showMore}}
          <a class="show-more" href="#">
            <img class="show-more-icon show-more-plus svg svg-buttoncolor" data-src="/img/plus.svg" aria-hidden="true"/>
            <img class="show-more-icon show-more-minus svg svg-buttoncolor" data-src="/img/minus.svg" aria-hidden="true"/>
          </a>
        {{/if}}
      {{/with}}
    </div>
  </div>
</template>