<template name="nav">
  <header class="header">

    <a id="mobile-menu" href="#menu" class="mobile mobile-button menu mobile-menu-button"><i class="icon-menu"></i><span>{{i18n "Menu"}}</span></a>

    {{#if logo_url}}
      <h1 class="logo logo-image">
        <a href="/">
          <img src="{{logo_url}}" alt="{{site_title}}"/>
        </a>
      </h1>
    {{else}}
      <h1 class="logo"><a href="/">{{site_title}}</a></h1>
    {{/if}}

    {{#if hasPrimaryNav}}
      <ul class="nav primary-nav desktop-nav {{dropdownClass}}">
        {{#each primaryNav}}
          <li>
            {{> UI.dynamic template=getTemplate}}
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if hasSecondaryNav}}
      <ul class="nav secondary-nav desktop-nav {{dropdownClass}}">
        {{#each secondaryNav}}
          <li>
            {{> UI.dynamic template=getTemplate}}
          </li>
        {{/each}}
      </ul>
    {{/if}}

  </header>
</template>
