<template name="nav">
  <header class="header">

    <a id="mobile-menu" href="#menu" class="mobile mobile-button menu mobile-menu-button"><i class="icon-menu"></i><span>{{i18n "Menu"}}</span></a>

    {{#if logo_url}}
      <h1 class="logo logo-image">
        <a href="/">
          <img src="{{logo_url}}" alt="{{site_title}}"/>
        </a>
      </h1>
    {{else}}
      <h1 class="logo"><a href="/">{{site_title}}</a></h1>
    {{/if}}

    <ul class="nav site-nav desktop-nav has-dropdown">
      {{#each navItems}}
        <li>
          {{> UI.dynamic template=getTemplate}}
        </li>
      {{/each}}
    </ul>

    <ul class="nav user-nav desktop-nav has-dropdown">
      <li>{{> UI.dynamic template=userMenu}}</li>
      {{#if canPost}}
        <li><a id="submit" class="submit button" href="/submit">{{i18n "Post"}}</a></li>
      {{/if}}
    </ul>


  </header>
</template>
