<template name="nav">
  <header class="header {{headerClass}}">

    <a href="#menu" class="mobile-only mobile-menu-button button">
      {{{icon "menu"}}}
    </a>

    {{> logo}}

    {{#with primaryNav}}
      <div class="nav primary-nav desktop-nav header-module desktop-only">
        {{#each this}}
          {{> Template.dynamic template=template}}
        {{/each}}
      </div>
    {{/with}}

    {{#with secondaryNav}}
      <div class="nav secondary-nav desktop-nav header-module desktop-only">
        {{#each this}}
          {{> Template.dynamic template=template}}
        {{/each}}
      </div>
    {{/with}}

  </header>
</template>
