.emoji {
  /* Hide the original Emoji icon no matter what system it is. */
  color: transparent;
  /* Make the size dependent on the wrapping text. */
  background-size: 2em 2em;
  width: 2em;
  height: 2em;
  display: inline-block;
  background-color: #eee;
  border-radius: 6px;
}
