<template name="nav">
  <div id="menu" class="hidden">
    <ul>
      <li><a href="/">Top</a></li>
      <li><a href="/">New</a></li>
      <li><a href="/">Ask</a></li>
      <li><a href="/">Show</a></li>
      <li><a href="/">Jobs </a></li>
      <li><a href="/">Sign Up </a></li>
      <li><a href="/">Log In</a></li>
    </ul>
  </div>
  <header class="header grid">
    <h1 class="logo"><a href="/">The Grid</a></h1>
    <a id="mobile-menu" href="#menu" class="mobile mobile-button menu"><i class="icon-menu"></i><span>Menu</span></a><a href="/submit" class="mobile mobile-button submit"><i class="icon-plus"></i><span>Submit</span></a>
    <ul class="nav site-nav desktop">
      <li><a href="#">Top</a></li>
      <li><a href="#">New</a></li>
      <li><a href="#">Ask</a></li>
      <li><a href="#">Show</a></li>
      <li><a href="#">Jobs</a></li>
    </ul>
    <ul class="nav user-nav desktop">
      {{#if logged_in}}
      <li><a id="signout" href="#">Sign Out</a></li>
      {{else}}
      <li><a id="signup" href="#">Sign Up</a></li>
      <li><a id="signin" href="#">Sign In</a></li>
      {{/if}}
      <li><a id="submit" href="#">Submit</a></li>
    </ul>
  </header>
</template>
