<template name="nav">
  <div id="pageslide" class="hidden">
    <ul>
      <li><a href="/top">Top</a></li>
      <li><a href="/new">New</a></li>
      <li><a href="/ask">Ask</a></li>
      <li><a href="/show">Show</a></li>
      <li><a href="/jobs">Jobs </a></li>
      <li><a href="/signup">Sign Up </a></li>
      <li><a href="/signin">Log In</a></li>
    </ul>
  </div>
  <header class="header grid">
    <h1 class="logo"><a href="/">The Grid</a></h1>
    <a id="mobile-menu" href="#menu" class="mobile mobile-button menu"><i class="icon-menu"></i><span>Menu</span></a>
    <!-- <a href="/submit" class="mobile mobile-button submit"><i class="icon-plus"></i><span>Submit</span></a> -->
    <ul class="nav site-nav desktop">
      <li><a href="top">Top</a></li>
      <li><a href="new">New</a></li>
      <li><a href="ask">Ask</a></li>
      <li><a href="show">Show</a></li>
      <li><a href="jobs">Jobs</a></li>
    </ul>
    <ul class="nav user-nav desktop">
<!--       {{#if logged_in}}
      <li><a id="logout" href="logout">Log Out</a></li>
      {{else}}
      <li><a id="signup" href="signup">Sign Up</a></li>
      <li><a id="signin" href="signin">Sign In</a></li>
      {{/if}} -->
      {{#if logged_in}}
        <li><a id="submit" class="submit button" href="/submit">Post</a></li>
      {{/if}}
    </ul>
    <div class="auth-buttons">
        {{> loginButtons}}
      </div>
  </header>
</template>
