<template name="nav">
  <div id="pageslide" class="hidden">
    <ul>
      <li><a class="top" href="/top">Top</a></li>
      <li><a class="new" href="/new">New</a></li>
      {{#if currentUser.isAdmin}}
        <li><a class="users" href="/users">Users</a></li>
        <li><a class="settings" href="/settings">Settings</a></li>
      {{/if}}
<!--       <li><a href="/ask">Ask</a></li>
      <li><a href="/show">Show</a></li>
      <li><a href="/jobs">Jobs </a></li>
      <li><a href="/signup">Sign Up </a></li>
      <li><a href="/signin">Log In</a></li> -->
    </ul>
  </div>
  <header class="header grid">

    <a id="mobile-menu" href="#menu" class="mobile mobile-button menu"><i class="icon-menu"></i><span>Menu</span></a>
    <!-- <a href="/submit" class="mobile mobile-button submit"><i class="icon-plus"></i><span>Submit</span></a> -->
    <ul class="nav site-nav desktop">
      <li><a class="top" href="/top">Top</a></li>
      <li><a class="new" href="/new">New</a></li>
      {{#if currentUser.isAdmin}}
        <li><a class="users" href="/users">Users</a></li>
        <li><a class="settings" href="/settings">Settings</a></li>
      {{/if}}
<!--       <li><a href="ask">Ask</a></li>
      <li><a href="show">Show</a></li>
      <li><a href="jobs">Jobs</a></li> -->
    </ul>
        {{#if logo_url}}
       <h1 class="logo image" style="height:{{logo_height}}px; width:{{logo_width}}px; top:{{logo_top}}px; margin-left:{{logo_offset}}px;">
        <a href="/" style="background-image:url({{logo_url}}); background-size:{{logo_width}}px {{logo_height}}px;">{{site_title}}</a>
      </h1>
    {{else}}
      <h1 class="logo"><a href="/">{{site_title}}</a></h1>
    {{/if}}
    <ul class="nav user-nav desktop">
<!--       {{#if currentUser}}
      <li><a id="logout" href="logout">Log Out</a></li>
      {{else}}
      <li><a id="signup" href="signup">Sign Up</a></li>
      <li><a id="signin" href="signin">Sign In</a></li>
      {{/if}} -->
      {{#if currentUser}}
        <li><a id="submit" class="submit button" href="/submit">Post</a></li>
      {{/if}}
    </ul>
    <div class="auth-buttons">
        {{> loginButtons}}
      </div>
  </header>
</template>
