<template name="post_page">
  <div class="single-post grid">
    {{#with post}}
    {{> post_item}}
    {{#if body}}
    <div class="post-message">{{{body_formatted}}}</div>
    {{/if}}
    {{/with}}
    {{#if show_comment_form}}
    <div class="comment-new">
      <form>
        <div class="comment-field">
          <textarea id="comment" rows="3" autofocus="autofocus"></textarea>
        </div>
        <div class="comment-submit">
          <input type="submit" class="button" value="Add Comment" />
        </div>
      </form>
    </div>
    {{/if}}
    {{#if has_comments}}
    <ul>
    {{#each child_comments}}
    {{> comment_item}}
    {{/each}}
    </ul>
    {{else}}
    <p>No comments.</p>
    {{/if}}
  </div>
</template>
