<template name="post_page">
  <div class="single-post grid">
    {{#with post}}
     {{> post_item}}
    {{/with}}
    {{#if show_comment_form}}
    <div class="comment-new">
      <form>
        <div class="comment-field" id="editor">
          <textarea id="comment" rows="3" autofocus="autofocus"></textarea>
        </div>
        <div class="comment-submit">
          <input type="submit" class="button" value="Add Comment" />
        </div>
      </form>
    </div>
    {{/if}}
    {{> comment_list}}
  </div>
</template>
