<template name="post_item">
  <div class="post" style="top:{{top_distance}}px;" id="{{_id}}">
    <ul class="post-actions">
      <li class="post-share desktop"><a href="#" class="share-link"><i class="icon-share"></i><span class="action">Share</span></a>
        <div class="share-options hidden">
          {{#constant}}
          <div data-url="{{#if url}}{{url}}{{else}}{{current_domain}}/posts/{{_id}}{{/if}}" data-text="A post with a body" class="share-replace">
          </div>
          {{/constant}}
        </div>
      </li>
      <li class="post-discuss">
        <a class="discuss-link go-to-comments" href="/posts/{{_id}}">
          <i class="icon-comment"></i>
          <span class="count">{{comments}}</span>
          <span class="action">Discuss</span>
        </a>
      </li>
      <li class="post-more mobile"><a class="more-link"><i class="icon-share"></i><span class="action">Text </span></a></li>
    </ul>
    <div class="post-content">
      <span class="post-rank">{{rank}}</span>
      <div class="post-upvote">
        {{#if voted}}
          <span class="upvote-link voted"><i class="icon-check"></i><span>Upvote</span></span>
        {{else}}
          <a class="upvote-link not-voted" href="#"><i class="icon-up"></i><span>Upvote</span></a>
        {{/if}}
      </div>
      <div class="post-info">
        <h3 class="post-heading">
          {{#if url}}
            <a href="{{url}}" class="post-title" target="_blank">{{headline}}</a>
          {{else}}
            <a href="/posts/{{_id}}" class="post-title">{{headline}}</a>
          {{/if}}
          {{#if url}}<span class="post-domain">{{domain}}</span>{{/if}}
        </h3>
        <p class="post-meta"><span class="points">{{votes}} <span class="unit">points </span></span>by  <a class="post-author" href="/users/{{user_id}}">{{authorName}}</a> <span class="post-time">{{ago}}</span><span class="comments">, <a class="go-to-comments" href="/posts/{{_id}}">{{comments}} comments</a></span>
          {{#if can_edit}}
            | <a href="/posts/{{_id}}/edit" class="edit-link goto-edit">Edit</a>
          {{/if}}
          {{#if currentUser.isAdmin}}
          | votes: {{votes}}, baseScore: {{baseScore}}, score: {{short_score}}
          {{/if}}
        </p>
      </div>
    </div>
    {{#if body}}
      <div class="post-message markdown">{{{body_formatted}}}</div>
    {{/if}}
  </div>
</template>
