<template name="post_edit">
  <div class="grid submit">
    {{#with post}}
      <form class="grid-block form-horizontal">
        {{#constant}}
          <div class="control-group">
            <label class="control-label">Title</label>
            <div class="controls"><input id="title" type="text" value="{{headline}}" /></div>
          </div>
          <div class="control-group">
            <label class="control-label">URL</label>
            <div class="controls"><input id="url" type="text" value="{{url}}" /></div>
          </div>
          <div class="control-group">
            <label class="control-label">Body</label>
            <div class="controls" id="editor"><textarea id="body" value="" class="input-xlarge">{{body}}</textarea></div>
          </div>
        {{/constant}}         
        <div class="form-actions">
          <a class="delete-link" href="/posts/deleted">Delete Post</a>
          <input type="submit" value="Submit" />
        </div>
      </form>
    {{/with}}
  </div>
</template>