<template name="selected_comment">
  {{#if show}}
  <div class="post grid">
    {{#with post}}
    {{> post}}
    {{#if body}}
    <div class="post-message">{{body}}</div>
    {{/if}}
    {{/with}}
    {{#with comment}}
    <ul class="selected-comment">
    {{> comment}}
    </ul>
    {{/with}}
    <div class="comment-new">
      <div class="comment-field">
        <textarea id="comment" rows="3" autofocus="autofocus"></textarea>
      </div>
      <div class="comment-submit">
        <input type="submit" value="Add Reply" />
      </div>
    </div>
  </div>
  {{/if}}
</template>
