<template name="selected_post">
  {{#if show}}
  <div class="selected-post grid">
    {{#with post}}
    {{> post}}
    {{#if body}}
    <div class="post-message">{{body}}</div>
    {{/if}}
    {{/with}}
    <div class="comment-new">
      <div class="comment-field">
        <textarea id="comment" rows="3" autofocus="autofocus"></textarea>
      </div>
      <div class="comment-submit">
        <input type="submit" value="Add Comment" />
      </div>
    </div>
    {{#if has_comments}}
    <ul>
    {{#each child_comments}}
    {{> comment}}
    {{/each}}
    </ul>
    {{else}}
    <p>No comments.</p>
    {{/if}}
  </div>
  {{/if}}
</template>
