<template name="signup">
  <div class="grid-small grid-block dialog signup">
    <form>
      <h2>Sign Up</h2>
      <div class="control-group">
        <label>Username</label>
        <div class="controls"><input id="username" name="username" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>Email</label>
        <div class="controls"><input id="email" name="email" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>Password</label>
        <div class="controls"><input id="password" name="password" type="password" value="" /></div>
      </div>
      <div class="form-actions">
        <input type="submit" class="button" value="Sign Up" />
      </div>
    </form>
  </div>
  <p class="grid-small footer-notice">Already have an account? <a href="signin" id="signin">Sign in!</a></p>  
</template>