.mention, .mention:visited {
  color: #575f67;
  cursor: pointer;
  display: inline-block;
  background: #e6f3ff;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  text-decoration: none;
}

.mention:hover, .mention:focus {
  color: #677584;
  background: #edf5fd;
  outline: 0; /* reset for :focus */
}

.mention:active {
  color: #222;
  background: #455261;
}
