html { padding:0px 0px 20px 0px; }

body {
	font-family:"Proxima Nova Soft", "proxima-nova-soft", "PT SANS", "Helvetica Neue", Helvetica, sans-serif;
	padding:10px;
	line-height:1.35em;
	margin:0;
	display: block;
	width: 100%;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #B5B0B0;
	-webkit-transition: border-color 500ms;
	-moz-transition: border-color 500ms;
	-o-transition: border-color 500ms;
	transition: border-color 500ms;
}
body:focus{
	outline: none;
	border-color: #F36C3D;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(243, 108, 61, 0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(243, 108, 61, 0.3);
	box-shadow: 0px 0px 5px 0px rgba(243, 108, 61, 0.3);
}