# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# sources
/src/
webpack.config.js
.babelrc
.gitignore
README.md
CHANGELOG.md

# NPM debug
npm-debug.log
