.selectSticker {
  border: 0;
  border-radius: 4px;
  background: #fff;
  margin: 5px 0px 5px 0px;
  box-sizing: border-box;
}

.selectSticker:hover, .root:focus {
  background: #efefef;
  outline: 0; /* reset for :focus */
}

.selectSticker:active {
  background: #dfdfdf;
}

.selectStickerImage {
  height: 80px;
  width: 80px;
  -webkit-user-drag: none;
  user-drag: none;
}
