<template name="post_submit">
  {{#if canPost true}}
  <div class="grid submit">
    <form class="grid-block form-horizontal">
      {{#constant}}
      <div class="control-group">
        <label class="control-label">URL</label>
        <div class="controls"><input id="url" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">Title</label>
        <div class="controls"><input id="title" type="text" value="" /><a href="#" class="get-title-link">Suggest title</a></div>
      </div>
      <div class="control-group">
        <label class="control-label">Message</label>
        <div class="controls" id="editor"><textarea id="body" value="" class="input-xlarge"/></div>
      </div>
      <div class="control-group">
        <label class="control-label">Category</label>
        <div class="controls">
          {{#each categories}}
          <label class="radio inline">
            <input id="category_{{_id}}" type="radio" value="{{name}}" name="category" /> {{name}}
          </label>
          {{/each}}
        </div>
      </div>
      {{/constant}}
      {{#if isAdmin}}
        {{#constant}}
        <div class="control-group">
          <label class="control-label">Sticky?</label>
          <div class="controls">
            <input type="checkbox" name="sticky" id="sticky" {{#if sticky}}checked{{/if}} />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Date</label>
          <div class="controls"><input id="submitted" type="text" value="{{submittedDate}}" /><input id="submitted_hidden" type="hidden" value="{{submitted}}" /></div>
        </div>
        <div class="control-group">
          <label class="control-label">User</label>
          <div class="controls">
            <select id="postUser">
              {{#each users}}
              <option {{#if isSelected}}selected{{/if}} value="{{_id}}">{{userName}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Status</label>
          <div class="controls">
            <label class="radio inline">
              <input id="status_pending" type="radio" value="1" name="status"/> Pending
            </label>
            <label class="radio inline">
              <input id="status_approved" type="radio" value="2" name="status" checked /> Approved
            </label>
            <label class="radio inline">  
              <input id="status_rejected" type="radio" value="3" name="status"/> Rejected
            </label>
          </div>
        </div>
        {{/constant}} 
      {{/if}}
      <div class="form-actions">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
  {{/if}}
</template>