<template name="post_item">
	<div class="ui accordion">
		<div class="post post-list-info {{#if sticky}}sticky{{/if}} {{inactiveClass}} {{postClass}} {{#if notPostPage}}title{{/if}}" id="{{_id}}">
			{{#each postModules}}
				<div class="{{moduleClass}}">
					{{> UI.dynamic template=getTemplate data=..}}
				</div>
			{{/each}}
		</div>
		{{#if notPostPage}}
		<div class="content">
	        {{#if body}}
	        	<div class="post-body markdown post-list-body" id="{{_id}}-more">{{{htmlBody}}}</div>
	        {{/if}}
			{{> poll_form}}
		</div>
		{{/if}}
	</div>
</template>
