h1, h2, h3, h4, h5 {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.33em;
  margin: -webkit-calc(1rem - 0.165em ) 0em 1rem;
  margin: calc(1rem - 0.165em ) 0em 1rem;
  font-weight: bold;
  padding: 0em;
}

.ui.basic.green.buttons .button, .ui.basic.green.button {
	width: 100%;
	max-width: 100%;
}

.poll-option {
	text-align: center;
}

.poll-option .ui.green.button {
	width: 100%;
	max-width: 100%;
}

.post-title {
  cursor:pointer;
}

.ui.post.modal,
.ui.fullscreen.modal {
  height: 90%;
}

.post-modal-content {
  height: 100%;
  width: 100%;
}

.fullscreen-post-modal-content {
  height: 100%;
}

.scroll-wrapper {
  position: fixed; 
  right: 0; 
  bottom: 0; 
  left: 0;
  top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.scroll-wrapper iframe {
  height: 100%;
  width: 100%;
}