<template name="post_edit">
  <div class="grid submit">
    {{#constant}}{{#with post}}
      <form class="grid-block form-horizontal">
        <div class="control-group">
          <label class="control-label post-form-headline">Created</label>
          <div class="controls"><p>{{created}}</p></div>
        </div>
        <div class="control-group">
          <label class="control-label post-form-headline">Title</label>
          <div class="controls"><input id="title" type="text" value="{{headline}}" /></div>
        </div>
        <div class="control-group">
          <label class="control-label post-form-url">URL</label>
          <div class="controls"><input id="url" type="text" value="{{url}}" /></div>
        </div>
        <div class="control-group">
          <label class="control-label post-form-body">Body</label>
          <div class="controls" id="editor"><textarea id="body" value="" class="input-xlarge">{{body}}</textarea></div>
        </div>
        <div class="control-group post-form-category">
          <label class="control-label">Category</label>
          <div class="controls">
            {{#each categories}}
            <label class="radio inline">
              <input id="category_{{_id}}" type="radio" value="{{name}}" name="category" {{hasCategory}} /> {{name}}
            </label>
            {{/each}}
          </div>
        </div>
        {{#if isAdmin}}
          <div class="control-group post-form-sticky">
            <label class="control-label">Inactive?</label>
            <div class="controls">
              {{inactive}}
            </div>
          </div>
          <div class="control-group post-form-sticky">
            <label class="control-label">Sticky?</label>
            <div class="controls">
              <input type="checkbox" name="sticky" id="sticky" {{isSticky}} />
            </div>
          </div>
          {{#if isApproved}}
          <div class="control-group">
            <label class="control-label post-form-date">Submission Date</label>
            <div class="controls"><input id="submitted_date" type="text" value="{{submittedDate}}" /></div>
            <input id="submitted_hidden" type="hidden" value="{{submitted}}" />
          </div>
          <div class="control-group">
            <label class="control-label post-form-time">Submission Time</label>
            <div class="controls"><input id="submitted_time" type="text" value="{{submittedTime}}" /></div>
          </div>
          {{else}}
          <div class="control-group">
            <label class="control-label post-form-timestamp">Submission</label>
            <div class="controls">
              <p>Note: this post is still pending so it has no submission timestamp yet.</p>
            </div>  
          </div>
          {{/if}}
          <div class="control-group post-form-user">
            <label class="control-label">User</label>
            <div class="controls">
              <select id="postUser">
                {{#each users}}
                  <option {{isSelected}} value="{{_id}}">{{userName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="control-group post-form-status">
            <label class="control-label">Status</label>
            <div class="controls">
              <label class="radio inline">
                <input id="status_pending" type="radio" value="1" name="status" {{hasStatusPending}} /> Pending
              </label>
              <label class="radio inline">
                <input id="status_approved" type="radio" value="2" name="status" {{hasStatusApproved}} /> Approved
              </label>
              <label class="radio inline">  
                <input id="status_rejected" type="radio" value="3" name="status" {{hasStatusRejected}} /> Rejected
              </label>
            </div>
          </div>
        {{/if}}
        <div class="form-actions">
          <a class="delete-link" href="/posts/deleted">Delete Post</a>
          <input type="submit" value="Submit" />
        </div>
      </form>
    {{/with}}{{/constant}}
  </div>
</template>