<template name="posts_list">
	<div class="posts grid list">
		{{#each posts}}
			{{> post_item}}
		{{/each}}
	</div>
  {{#if postsReady}}
  	<div class="grid more-button {{#if allPostsLoaded}} hidden {{/if}}">
  		<a class="more-link" href="#">Load more</a>
  	</div>
  {{else}}
    <div>Loading...</div>
  {{/if}}
</template>

<!-- and the various pages that use the above template -->
<!-- XXX: makes me want to be able to set a context from the router... -->
<template name="posts_top">
  {{> posts_list topPostsHandle}}
</template>

<template name="posts_new">
  {{> posts_list newPostsHandle}}
</template>

<template name="posts_best">
  {{> posts_list bestPostsHandle}}
</template>

<template name="posts_pending">
  {{> posts_list pendingPostsHandle}}
</template>
