<template name="posts_list">
	<div class="posts grid list">
		{{#each posts}}
			{{> post_item}}
		{{/each}}
	</div>
  {{#if postsReady}}
  	<div class="grid more-button {{#if allPostsLoaded}} hidden {{/if}}">
  		<a class="more-link" href="#">Load more</a>
  	</div>
  {{else}}
    <div>Loading...</div>
  {{/if}}
</template>

<!-- and the various pages that use the above template -->
<!-- XXX: makes me want to be able to set a context from the router... -->
<template name="posts_top">
  {{> posts_list topPostsHandle}}
</template>

<template name="posts_new">
  {{> posts_list newPostsHandle}}
</template>

<template name="posts_best">
  {{> posts_list bestPostsHandle}}
</template>

<template name="posts_pending">
  {{> posts_list pendingPostsHandle}}
</template>

<template name="posts_digest">
  <div class="grid">
    <div class="grid-block">
      The top 5 posts of each day. |
    {{#if showPreviousDate}}
    <a href="{{previousDateURL}}" class="prev-link">Previous Day</a> | 
    {{/if}}
    {{currentDate}} |
    {{#if showNextDate}}
    <a href="{{nextDateURL}}" class="next-link">Next Day</a>
    {{/if}}
    </div>
  </div>
  {{> posts_list digestHandle}}
</template>