<template name="post_submit">
  <div class="grid submit">
    <form class="grid-block form-horizontal">
      <div class="control-group">
        <label class="control-label">{{i18n "URL"}}</label>
        <div class="controls"><input id="url" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Title"}}</label>
        <div class="controls"><input id="title" type="text" value="" /><a href="#" class="get-title-link inline-link">{{i18n "Suggest title"}}</a></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Body"}}</label>
        <div class="controls" id="editor"><textarea id="body" value="" class="input-xlarge"></textarea></div>
      </div>
      {{#if categoriesEnabled}}
      <div class="control-group">
        <label class="control-label">{{i18n "Category"}}</label>
        <div class="controls">
          {{#each categories}}
          <label class="radio inline">
            <input id="category_{{_id}}" type="checkbox" value="{{_id}}" name="category" /> {{name}}
          </label>
          {{/each}}
        </div>
      </div>
      {{/if}}
      {{#if isAdmin}}
        <div class="control-group">
          <label class="control-label">{{i18n "Sticky?"}}</label>
          <div class="controls">
            <input type="checkbox" name="sticky" id="sticky" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "User"}}</label>
          <div class="controls">
            <select id="postUser">
              {{#each users}}
                <option {{isSelected this}} value="{{_id}}">{{userName}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "Status"}}</label>
          <div class="controls">
            <label class="radio inline">
              <input id="status_pending" type="radio" value="1" name="status"/> {{i18n "Pending"}}
            </label>
            <label class="radio inline">
              <input id="status_approved" type="radio" value="2" name="status" checked /> {{i18n "Approved"}}
            </label>
            <label class="radio inline">  
              <input id="status_rejected" type="radio" value="3" name="status"/> {{i18n "Rejected"}}
            </label>
          </div>
        </div>
        <div id="postedAt" class={{showPostedAt}}>
          <div class="control-group">
            <label class="control-label post-form-date">{{i18n "Posted Date"}}</label>
            <div class="controls"><input id="postedAtDate" type="text" value="{{postedAtDate}}" /></div>
          </div>
          <div class="control-group">
            <label class="control-label post-form-time">{{i18n "Posted Time"}}</label>
            <div class="controls"><input id="postedAtTime" type="text" value="{{postedAtTime}}" /></div>
          </div>
          <p class="help-block">Leave blank to post at current time.</p>
        </div>
      {{/if}}
      <div class="form-actions">
        <input type="submit" class="button" value="{{i18n "Submit"}}" />
      </div>
    </form>
  </div>
</template>