<template name="post_edit">
  <div class="grid submit">
    {{#with post}}
      <form class="grid-block form-horizontal">
        <div class="control-group">
          <label class="control-label post-form-headline">{{i18n "Created"}}</label>
          <div class="controls"><p>{{created}}</p></div>
        </div>
        <div class="control-group">
          <label class="control-label post-form-headline">{{i18n "Title"}}</label>
          <div class="controls"><input id="title" type="text" value="{{title}}" /></div>
        </div>
        <div class="control-group">
          <label class="control-label post-form-url">{{i18n "URL"}}</label>
          <div class="controls"><input id="url" type="text" value="{{url}}" /></div>
        </div>
        {{#if shorten}}
        <div class="control-group">
          <label class="control-label post-form-url">{{i18n "Short URL"}}</label>
          <div class="controls"><input id="short-url" type="text" value="{{shortUrl}}" /></div>
        </div>
        {{/if}}
        <div class="control-group">
          <label class="control-label post-form-body">{{i18n "Body"}}</label>
          <div class="controls" id="editor"><textarea id="body" value="" class="input-xlarge">{{body}}</textarea></div>
        </div>
        {{#if categoriesEnabled}}
        <div class="control-group post-form-category">
          <label class="control-label">{{i18n "Categories"}}</label>
          <div class="controls">
            {{#each categories}}
            <label class="radio inline">
              <input id="category_{{_id}}" type="checkbox" value="{{_id}}" name="category" {{checked}} /> {{name}}
            </label>
            {{/each}}
          </div>
        </div>
        {{/if}}
        {{#if isAdmin}}
          <div class="control-group post-form-sticky">
            <label class="control-label">{{i18n "Inactive?"}}</label>
            <div class="controls">
              {{inactive}}
            </div>
          </div>
          <div class="control-group post-form-sticky">
            <label class="control-label">{{i18n "Sticky?"}}</label>
            <div class="controls">
              <input type="checkbox" name="sticky" id="sticky" {{isSticky}} />
            </div>
          </div>
          <div class="control-group post-form-user">
            <label class="control-label">{{i18n "User"}}</label>
            <div class="controls">
              <select id="postUser">
                {{#each users}}
                  <option {{isSelected ..}} value="{{_id}}">{{userName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="control-group post-form-status">
            <label class="control-label">{{i18n "Status"}}</label>
            <div class="controls">
              <label class="radio inline">
                <input id="status_pending" type="radio" value="1" name="status" {{hasStatusPending}} /> {{i18n "Pending"}}
              </label>
              <label class="radio inline">
                <input id="status_approved" type="radio" value="2" name="status" {{hasStatusApproved}} /> {{i18n "Approved"}}
              </label>
              <label class="radio inline">  
                <input id="status_rejected" type="radio" value="3" name="status" {{hasStatusRejected}} /> {{i18n "Rejected"}}
              </label>
            </div>
          </div>
          <div id="postedAt" class={{showPostedAt}}>
            <div class="control-group">
              <label class="control-label post-form-date">{{i18n "Posted Date"}}</label>
              <div class="controls"><input id="postedAtDate" type="text" value="{{postedAtDate}}" /></div>
            </div>
            <div class="control-group">
              <label class="control-label post-form-time">{{i18n "Posted Time"}}</label>
              <div class="controls"><input id="postedAtTime" type="text" value="{{postedAtTime}}" /></div>
            </div>
          </div>
        {{/if}}
        <div class="form-actions">
          <a class="delete-link" href="/posts/deleted">{{i18n "Delete Post"}}</a>
          <input type="submit" class="button" value="{{i18n "Submit"}}" />
        </div>
      </form>
    {{/with}}
  </div>
</template>