<template name="posts_digest">
  <div class="grid">
    <div class="grid-block">
      The top 5 posts of each day. |
    {{#if showPreviousDate}}
    <a href="{{previousDateURL}}" class="prev-link">Previous Day</a> | 
    {{/if}}
    {{currentDate}} |
    {{#if showNextDate}}
    <a href="{{nextDateURL}}" class="next-link">Next Day</a>
    {{/if}}
    </div>
  </div>
  <div class="posts grid list">
    {{#if noPostsToday}}
      <p>Sorry, no posts for today.</p>
    {{else}}
      {{#each posts}}
        {{> post_item}}
      {{/each}}
    {{/if}}
  </div>
</template>
