<template name="user_email">
  <div class="grid-small grid-block dialog user-edit">
  	{{#with user}}
    <div>
      {{i18n "Please fill in your email below to finish signing up."}}
    </div>
    <form>
      <div class="control-group">
          <label>{{i18n "Username"}}</label>
          <div class="controls">
              <input name="username" type="text" value="{{username}}" />
          </div>
        <br>
        <label>{{i18n "Email"}}</label>
        <div class="controls">
          <input name="email" type="text" value="{{profile.email}}" />
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" class="button" value="{{i18n "Submit"}}" />
      </div>
    </form>
    {{/with}}
  </div>
</template>