<template name="user_profile">
	<div class="grid">
		{{#with user}}
		<div class="user-profile grid-block">
			<table>
				<tr>
					<td colspan="2"><span class="user-avatar" style="background-image:url({{avatar_url}});"></span></td>
				</tr>
				<tr>
					<td>Name: </td>
					<td>{{username}}</td>
				</tr>
				<tr>
					<td>Member since: </td>
					<td>{{created_at_formatted}}</td>
				</tr>
				<tr>
					<td>Bio: </td>
					<td>{{profile.bio}}</td>
				</tr>
			</table>
			{{#if is_current_user}}
			<a href="/users/{{_id}}/edit">Edit profile</a>
			{{/if}}
		</div>
		{{/with}}
	</div>
</template>