<template name="user_edit">
  <div class="grid-small grid-block dialog user-edit">
  	{{#with user}}
    {{#if profileIncomplete}}
    <div>
      {{i18n "Please complete your profile below before continuing."}}
    </div>
    {{/if}}
    <form>
      <h2>{{i18n "Account"}}</h2>
      {{#if username}}
      <div class="control-group">
        <label>{{i18n "Username"}}</label>
        <div class="controls">
          <input id="username" name="username" disabled="disabled" type="text" value="{{username}}" />
        </div>
      </div>
      {{/if}}
<!--       <div class="control-group">
        <label>Email</label>
        <div class="controls">
          <input id="email" name="email" disabled="disabled" type="text" value="{{email}}" />
        </div>
      </div> -->
      <div class="control-group">
        <label>{{i18n "Display Name"}}</label>
        <div class="controls">
          <input name="name" type="text" value="{{profile.name}}" />
        </div>
      </div>
      <div class="control-group">
        <label>{{i18n "Email"}}</label>
        <div class="controls">
          <input name="email" type="text" value="{{userEmail}}" />
        </div>
      </div>
      <div class="control-group">
        <label>{{i18n "Bio"}}</label>
        <div class="controls"><textarea name="bio" type="text">{{profile.bio}}</textarea></div>
      </div>
      <h3>{{i18n "Change Password?"}}</h3>
      <div class="control-group">
        <label>Old Password</label>
        <div class="controls"><input name="old_password" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>{{i18n "New Password"}}</label>
        <div class="controls"><input name="new_password" type="text" value="" /></div>
      </div>
          <div class="control-group">
            <label class="control-label">{{i18n "Email Notifications"}}</label>
            <div class="controls">
              <label class="radio">
                <input id="notifications_activity" type="radio" value="1" name="notifications" {{hasNotificationsActivity}} /> {{i18n "When people reply to me"}}
              </label>
              <label class="radio">
                <input id="notifications_none" type="radio" value="0" name="notifications" {{hasNotificationsNone}} /> {{i18n "None"}}
              </label>
<!--               <label class="radio">  
                <input id="notifications_all" type="radio" value="2" name="notifications" {{hasNotificationsAll}} /> {{i18n "All"}}
              </label> -->
            </div>
          </div>
      <div class="form-actions">
        <a href="/forgot_password">{{i18n "Forgot password?"}}</a>
        <input type="submit" class="button" value="{{i18n "Submit"}}" />
      </div>
    </form>
    {{/with}}
  </div>
</template>