<template name="signin">
  <div class="grid-small grid-block dialog signin">
    <form>
      <h2>Sign In</h2>
      <div class="control-group">
        <label>Username</label>
        <div class="controls"><input id="username" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>Password</label>
        <div class="controls"><input id="password" type="password" value="" /></div>
      </div>
      <div class="form-actions">
        <a href="/forgot_password">Forgot password?</a>
        <input type="submit" class="button" value="Sign In" />
      </div>
    </form>
  </div>
  <p class="grid-small footer-notice">Don't have an account? <a href="signup" id="signup">Sign up!</a></p>
</template>