<template name="users">
    <div class="grid">
      <div class="user-table grid-block">
        <h1>{{i18n "Users"}}</h1>
        <table>
          <thead>
            <tr>
              <td colspan="2">{{i18n "Name"}}</td>
              <td>{{i18n "Member since"}}</td>
              <td>{{i18n "Email"}}</td>
              <td>{{i18n "Posts"}}</td>
              <td>{{i18n "Comments"}}</td>
              <td>{{i18n "Karma"}}</td>
              <td>{{i18n "Is Invited?"}}</td>
              <td>{{i18n "Is Admin?"}}</td>
              <td>{{i18n "Delete"}}</td>
            </tr>
          </thead>
          <tbody>
              {{#each users}}
                {{> user_item}}
              {{/each}}
          </tbody>
        </table>
      </div>
    </div>
</template>