<template name="users">
    <div class="grid">
      <div class="user-table grid-block">
        <h2>Users</h2>
        <p class="filter">
          <span>Filter by: </span>
          <a class="{{activeClass 'all'}}" href="/all-users">All</a>
          <a class="{{activeClass 'invited'}}" href="/all-users/?filter=invited">Invited</a>
          <a class="{{activeClass 'uninvited'}}" href="/all-users/?filter=uninvited">Uninvited</a>
          <a class="{{activeClass 'admin'}}" href="/all-users/?filter=admin">Admin</a>
        </p>
        <table>
          <thead>
            <tr>
              <td colspan="2">Name</td>
              <td>Member since</td>
              <td>Email</td>
              <td>Posts</td>
              <td>Comments</td>
              <td>Karma</td>
              <td>Is Invited?</td>
              <td>Is Admin?</td>
              <td>Delete</td>
            </tr>
          </thead>
          <tbody>
              {{#each users}}
                {{> user_item}}
              {{/each}}
          </tbody>
        </table>
        <div class="grid more-button {{#if allPostsLoaded}} hidden {{/if}}">
          <a class="more-link" href="{{loadMoreUrl}}">Load more</a>
        </div>
      </div>
    </div>
</template>