<template name="user_email">
  <div class="grid-small grid-block dialog user-edit">
  	{{#with user}}
    <div class="finish-signup-message">
      {{_ "please_fill_in_your_email_below_to_finish_signing_up"}}
    </div>
    <form>
      <div class="control-group">
          <label>{{_ "username"}}</label>
          <div class="controls">
              <input name="username" type="text" value="{{username}}" />
          </div>
        <br>
        <label>{{_ "email"}}</label>
        <div class="controls">
          <input name="email" type="text" value="{{profile.email}}" />
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" class="button btn btn-primary" value="{{_ "submit"}}" />
      </div>
    </form>
    {{/with}}
  </div>
</template>