<template name="user_edit">
  <div class="grid-small grid-module dialog user-edit">
  	{{#with user}}
    {{#if profileIncomplete}}
    <div>
      {{i18n "Please complete your profile below before continuing."}}
    </div>
    {{/if}}
    <form id="account-form">
      <h2>{{i18n "Account"}}</h2>
      <div class="control-group">
        <label>{{i18n "Username"}}</label>
        <div class="controls">
          <input id="username" name="username" disabled="disabled" type="text" value="{{userName}}" />
        </div>
        <p class="note">Profile URL: {{profileUrl}}</p>
      </div>
<!--       <div class="control-group">
        <label>Email</label>
        <div class="controls">
          <input id="email" name="email" disabled="disabled" type="text" value="{{email}}" />
        </div>
      </div> -->
      <div class="control-group">
        <label>{{i18n "Display Name"}}</label>
        <div class="controls">
          <input name="name" type="text" value="{{profile.name}}" />
        </div>
      </div>
      <div class="control-group">
        <label>{{i18n "Email"}}</label>
        <div class="controls">
          <input name="email" type="text" value="{{userEmail}}" />
        </div>
      </div>
      <div class="control-group">
        <label>{{i18n "Bio"}}</label>
        <div class="controls"><textarea name="bio" type="text">{{profile.bio}}</textarea></div>
      </div>
      <div class="control-group">
      <label>Twitter Username</label>
        <div class="controls">
          <input name="twitter" type="text" value="{{getTwitter}}" />
        </div>
      </div>
      <div class="control-group">
        <label>GitHub Username</label>
        <div class="controls">
          <input name="github" type="text" value="{{getGitHub}}" />
        </div>
      </div>
      <div class="control-group">
        <label>Site</label>
        <div class="controls">
          <input name="site" type="text" value="{{profile.site}}" />
        </div>
      </div>
      {{#if hasPassword}}
        <h3>{{i18n "Change Password?"}}</h3>
        <div class="control-group">
          <label>{{i18n "Old Password"}}</label>
          <div class="controls"><input name="old_password" type="password" value="" /></div>
        </div>
        <div class="control-group">
          <label>{{i18n "New Password"}}</label>
          <div class="controls"><input name="new_password" type="password" value="" /></div>
        </div>
      {{/if}}
      <div class="control-group">
        <label class="control-label">{{i18n "Email Notifications"}}</label>
        <div class="controls">
          {{#if isAdmin}}
            <label class="checkbox">
              <input id="notifications_users" type="checkbox" name="notifications_users" {{hasNotificationsUsers}} /> New Users
            </label>
          {{/if}}
          <label class="checkbox">
            <input id="notifications_posts" type="checkbox" name="notifications_posts" {{hasNotificationsPosts}} /> {{i18n "New Posts"}}
          </label>
          <label class="checkbox">
            <input id="notifications_comments" type="checkbox" name="notifications_comments" {{hasNotificationsComments}} /> {{i18n "Comments on my posts"}}
          </label>
          <label class="checkbox">
            <input id="notifications_replies" type="checkbox" name="notifications_replies" {{hasNotificationsReplies}} /> {{i18n "Replies to my comments"}}
          </label>
        </div>
      </div>
      {{#if isAdmin}}
      <div class="control-group">
        <h3>Invites</h3>
        <label>Invites</label>
        <div class="controls">
          <input name="inviteCount" type="text" value="{{inviteCount}}" />
        </div>
      </div>
      {{/if}}
      <div class="form-actions">
        <a href="/forgot-password">{{i18n "Forgot password?"}}</a>
        <input type="submit" class="button" value="{{i18n "Submit"}}" />
      </div>
    </form>
    {{/with}}
  </div>

  {{> invites }}
</template>
