<template name="user_edit">
  <div class="grid-small grid-block dialog user-edit">
  	{{#with user}}
    {{#if profileIncomplete}}
    <div>
      Please complete your profile below before continuing.
    </div>
    {{/if}}
    <form>
      <h2>Account</h2>
      {{#if username}}
      <div class="control-group">
        <label>Username</label>
        <div class="controls">
          <input id="username" name="username" disabled="disabled" type="text" value="{{username}}" />
        </div>
      </div>
      {{/if}}
<!--       <div class="control-group">
        <label>Email</label>
        <div class="controls">
          <input id="email" name="email" disabled="disabled" type="text" value="{{email}}" />
        </div>
      </div> -->
      <div class="control-group">
        <label>Display Name</label>
        <div class="controls">
          <input name="name" type="text" value="{{profile.name}}" />
        </div>
        <p class="note">Profile URL: {{profileUrl}}</p>
      </div>
      <div class="control-group">
        <label>Email</label>
        <div class="controls">
          <input name="email" type="text" value="{{userEmail}}" />
        </div>
      </div>
      <div class="control-group">
        <label>Bio</label>
        <div class="controls"><textarea name="bio" type="text">{{profile.bio}}</textarea></div>
      </div>
      <h3>Change Password?</h3>
      <div class="control-group">
        <label>Old Password</label>
        <div class="controls"><input name="old_password" type="password" value="" /></div>
      </div>
      <div class="control-group">
        <label>New Password</label>
        <div class="controls"><input name="new_password" type="password" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">Email Notifications</label>
        <div class="controls">
          <label class="checkbox">
            <input id="notifications_posts" type="checkbox" name="notifications_posts" {{hasNotificationsPosts}} /> New Posts
          </label>
          <label class="checkbox">
            <input id="notifications_comments" type="checkbox" name="notifications_comments" {{hasNotificationsComments}} /> Comments on my posts
          </label>
          <label class="checkbox">
            <input id="notifications_replies" type="checkbox" name="notifications_replies" {{hasNotificationsReplies}} /> Replies to my comments
          </label>
        </div>
      </div>
      {{#if isAdmin}}
      <div class="control-group">
        <h3>Invites</h3>
        <label>Invites</label>
        <div class="controls">
          <input name="invitesCount" type="text" value="{{invitesCount}}" />
        </div>
      </div>
      {{/if}}
      <div class="form-actions">
        <a href="/forgot_password">Forgot password?</a>
        <input type="submit" class="button" value="Submit" />
      </div>
    </form>
    {{/with}}
  </div>
</template>