.counter {
  color: white;
  background-color: #353535;
  display: inline-block;
  min-width: 50px;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  margin-bottom: 5px;
}

.counterOverLimit {
  color: tomato;
  background-color: #353535;
  display: inline-block;
  min-width: 50px;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  margin-bottom: 5px;
}
