<template name="comment_item">
  <li class="comment comment-displayed" id="{{_id}}">
   <div class="comment-body">
      <div class="comment-content">
        <div class="comment-actions {{#if upvoted}}upvoted{{else}}not-upvoted{{/if}} {{#if downvoted}}downvoted{{else}}not-downvoted{{/if}}">
          <a class="upvote" href="#">
            <i class="icon-up"></i>
            <span>{{i18n "upvote"}}</span>
          </a>
          <a class="downvote" href="#">
            <i class="icon-down"></i>
            <span>{{i18n "downvote"}}</span>
          </a>
        </div>
        <div class="user-avatar"><img src="{{user_avatar}}" /></div>
        <div class="comment-main">
          <div class="comment-meta">
            <a class="comment-username" href="{{profileUrl}}">{{authorName}}</a>
            <span class="comment-time">{{ago}},</span>
            <span class="points">{{votes}}</span> <span class="unit">points </span>
            <a href="/comments/{{_id}}" class="comment-permalink icon-link goto-comment">{{i18n "link"}}</a>
            {{#if can_edit}}
              | <a class="edit-link" href="/comments/{{_id}}/edit">{{i18n "Edit"}}</a>
            {{/if}}
            {{#if currentUser.isAdmin}}
              | <span>{{full_date}}</span>
            {{/if}}
          </div>
          <div class="comment-text markdown">{{{body_formatted}}}</div>
          {{#if getSetting "nestedComments" true}}
            <a href="/comments/{{_id}}/reply" class="comment-reply goto-comment">{{i18n "Reply"}}</a>
          {{/if}}
        </div>
      </div>
      {{#if showChildComments}}
      <ul class="comment-children comment-list">
      {{#each child_comments}}
        {{#with this}}
          {{> comment_item}}
        {{/with}}
      {{/each}}
      </ul>
      {{/if}}
    </div>
  </li>
</template>
