<template name="comment_reply">
  <div class="grid comment-page single-post">
    
    {{#with post}}
      <div class="posts posts-list">
        {{> UI.dynamic template=post_item}}
      </div>
    {{/with}}

    {{#with comment}}
      <ul class="selected-comment" aria-live="polite">
       {{> UI.dynamic template=comment_item}}
      </ul>
    {{/with}}

    {{#if canComment}}
      {{> UI.dynamic template=comment_form}}
    {{/if}}

    {{#if isLoggedIn}}
    {{else}}
      <p><a href="/sign-in">{{_ "please_sign_in_to_reply"}}</a></p>
    {{/if}}
  </div>
</template>
