<template name="comment_form">
  {{#if canComment}}
    <div class="comment-new module">
      <form>
        <div class="comment-field" id="editor">
          <textarea id="comment" rows="3" autofocus="autofocus"></textarea>
        </div>
        <div class="comment-submit">
          <button type="submit" class="comment-submit-button btn btn-primary btn-submit" value="{{_ "add_comment"}}" title="(⌘+enter)">{{_ "add_comment"}}</button>
        </div>
      </form>
    </div>
  {{else}}
    <p>{{reason}}</p>
  {{/if}}  
</template>
