<template name="toolbox">
    <div class="grid-small grid-block dialog admin toolbox">
      <h2>Toolbox</h2>
      <h4>Updates</h4>
      <ul>
      	<!-- <li><a href="#" class="update-categories">Update Categories</a></li> -->
        <li><a href="#" class="update-user-profiles">Update User Profiles</a></li>
        <!-- <li><a href="#" class="update-posts-slugs">Update Posts Slugs</a></li> -->
      </ul>
      <h4>Tools</h4>
      <ul>
        <li><a href="#" class="give-invites">Give 1 Invite to Everybody</a></li>
      </ul>
    </div>
</template>
