<template name="toolbox">
    <div class="grid-small grid-block dialog admin">
      <h2>Toolbox</h2>
      <ul>
    	<li><a href="#" class="update-categories">Update Categories</a></li>
      <li><a href="#" class="give-invites">Give 1 Invite to Everybody</a></li>
      <li><a href="#" class="update-user-slugs">Update User Slugs</a></li>
      <li><a href="#" class="update-posts-slugs">Update Posts Slugs</a></li>
      <li><a href="#" class="update-comments-slugs">Update Comments Slugs</a></li>
      </ul>
    </div>
</template>
