<template name="postInfo">
  <div class="post-meta-item">
  	{{#if friendsVotes}}
    	<span class="points">{{friendsVotes}} {{friends friendsVotes}} </span>
    {{/if}}
    {{#if hasVote}}
      <span class="points">{{poll.voteCount}} votes</span>
    {{/if}}
    <span class="points">{{baseScore}}</span>
    <span class="unit">{{pointsUnitDisplayText}}</span>
    {{#if postedAt}}<span class="post-time">{{timeAgo postedAt}}</span>{{/if}}
    {{#if canEdit this}}
      | <a href="{{pathFor route='post_edit' _id=_id}}" class="edit-link goto-edit">{{_ "edit"}}</a>
    {{/if}}
  </div>
</template>
