.root {
  display: flex;
  border-top-style: solid;
  border-top-color: #eee;
  border-top-width: 1px;
  transition: border-top-color 1.4s;
  transition-timing-function: ease-out;
}

.rootFinal {
  composes: root;
  border-top-color: #fff;
}

.separatorBase {
  width: 16.67%;
  height: 10px;
  background-color: #F8FAFA;
  transition: background-color 1.4s;
  transition-timing-function: ease-out;
}

.separatorPart1 {
  composes: separatorBase;
  background: #E3EBF4;
}

.separatorPart2 {
  composes: separatorBase;
  background: #EEE5EB;
  transition-delay: 0.1s;
}

.separatorPart3 {
  composes: separatorBase;
  background: #F8E0D8;
  transition-delay: 0.2s;
}

.separatorPart4 {
  composes: separatorBase;
  background: #FCF7DC;
  transition-delay: 0.3s;
}

.separatorPart5 {
  composes: separatorBase;
  background: #D8ECD4;
  transition-delay: 0.4s;
}

.separatorPart6 {
  composes: separatorBase;
  background: #EFF2F5;
  transition-delay: 0.5s;
}
