$card-padding: 20px;

.collections-page {
  margin-right: 90px;
}

.collections-header {
  padding-left: 20px;
  margin-bottom: 50px;
}

.collections-title {
  font-weight: bold;
  text-transform: uppercase;
  border-top-style: solid;
  border-top-width: 4px;
}

.collections-description {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
  line-height: 1.25;
}

.collection-card-item {
  position:relative;
  &:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    z-index: 100;
    .collection-card-link {
      text-decoration: none;
    }
  }
}

.recommended-reading-section {
  margin-top: -20px;
}

.collection-card {
  position: relative;
  padding: $card-padding;
  height: 312px;
  box-shadow: none !important;
  margin-bottom: 5px;
  .collection-card-content {
    width: 313px;
    border-top-style: solid;
    border-top-width: 4px;
    margin-left: auto;
    padding-top: 10px;
    color: rgba(0,0,0,0.6);
  }
  .collection-card-title {
    color: rgba(0,0,0,0.7);
    font-size: 30px !important;
    padding: 0px !important;
    line-height: 120% !important;
    padding-bottom: 10px !important;
  }
  .collection-card-text {
    padding: 0px !important;
    line-height: normal !important;
    font-size: 16px !important;
  }
  .collection-card-media {
    width: 313px;
    overflow:hidden;
  }
  a:hover {
    text-decoration: none;
  }
}

.book-subtitle {
    line-height: 1.1;
    font-size: 20px;
    margin-top: 20px;
    font-style: italic;
}

.book-description {
    margin-left: 20px;
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 25px;
}

.chapters-edit-form {
    width: 700px;
    margin-left: auto;
    margin-right: 75px;
}
