@font-face {
  font-family: ETBook;
  src: url('https://cdn.jsdelivr.net/font-et-book/0.1/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf');
  font-weight: normal;
};

@font-face {
  font-family: ETBook;
  src: url('https://cdn.jsdelivr.net/font-et-book/0.1/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf');
  font-weight: bold;
};

@font-face {
  font-family: ETBook;
  src: url('https://cdn.jsdelivr.net/font-et-book/0.1/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf');
  font-style: italic;
};
