
//////////////////////////////////////////////////////
// Post List                                        //
//////////////////////////////////////////////////////

.posts-list-header{
  @include medium-large{
    @include flex-center;
    justify-content: space-between;
  }
  margin-bottom: $vmargin;
}

.posts-list-header-categories{
  @include small{
    margin: 0 auto;
    margin-bottom: $vmargin;
    text-align: center;
    .btn-group{
      margin-right: 0;
      width: 100%;
    }
    .dropdown-toggle{
      width: 100%;
    }
  }
}

.recent-posts-title-component {
  font-style: italic;
  margin-top: 20px;
  font-size: 20px;
  line-height: normal;
  color: rgba(0,0,0,0.6);
  .new-post-link {
    margin-top: 20px;
    a {
      color: rgba(0,0,0,0.6);
      @include link-underline(#fff, rgba(0,0,0,0.6), #b4d5f3)
    }
    a:visited {
      color: inherit;
    }
  }
  a:hover {
    color: rgba(0,0,0,0.4) !important;
  }
}

.posts-list-content {
  margin-top: -10px;
  margin-left: 10px;
  a {
    background-image: none;
    text-shadow: none;
  }


}

.posts-views{
  .posts-views-dropdown {
    div div {
      @include link-underline(#fff, rgba(0,0,0,0.6), #b4d5f3)
    }
    div div:hover {
      color: rgba(0,0,0,0.4) !important;
    }
  }
  display: inline;
}



.posts-list-header{
  @include medium-large{
    .search-form, .posts-list-header-categories button, .posts-views button{
      width: 160px;
    }
  }
}

.posts-list-content{
  // padding-top: 15px;
  // margin-top: 15px;
  margin-bottom: $vmargin;
}

.posts-load-more, .comments-load-more{
  display: block;
  text-align: center;
  @include border;
  @include border-radius;
  font-size: $large-font;
  padding: 10px 20px;
  @include activeHover;
  width: 100%;
  background: $white;
  color: $active-color;
}

.posts-load-more-loading{
  padding: 21px 0;
}

//////////////////////////////////////////////////////
// Post Item                                        //
//////////////////////////////////////////////////////

.posts-item{
  &:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  }
  .posts-item-content {
    display: flex;
    position: relative;
  }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: rgba(0,0,0,0.3);
  }
  .posts-item-title{
    display: inline;
    font-size: $large-font;
    margin-right: 8px;
    text-decoration: none;
    a:hover{
      color: inherit;
    }
  }
  .post-feed-nickname{
    font-size: 0.7rem;
    color: rgba(0,0,0,0.5);
  }

  .posts-item-meta {
    display: inline-block;
    color: rgba(0,0,0,0.5);

    .posts-item-date, .posts-item-date, .posts-item-user, .posts-actions, .posts-item-admin {
      margin-right: 5px;
    }
    .posts-item-user a {
      color: rgba(0,0,0,0.5);
    }
    .posts-item-user a:hover {
      color: rgba(0,0,0,0.3);
    }
  }
  .posts-item-summary {
    text-overflow: ellipsis;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: rgba(0,0,0,0.55);
  }
  // margin-bottom: 15px;
  .posts-item-comments {
    margin-left: auto;
    .posts-item-comment-count {
      padding: initial !important;
    }
  }
  &.posts-sticky{
    .posts-item-title::before {
      font-family: FontAwesome;
      content: "\f08d"
    }
  }
}

.posts-item-vote{
  display: inline;
  .vote {
    display: inline;
  }
}

.upvote-button{
  .icon{
    display: inline;
  }
  .voted &{
    color: $light-text;
  }
}

.vote-count{
  display: inline;
  margin-right: 5px;
}

.downvote-button{
  .icon{
    display: inline;
  }
  .voted &{
    color: $light-text;
  }
}

.posts-item-content{
  flex-grow: 1;
}



.posts-categories{
  display: inline;
}

.posts-item-meta{
  display: inline;
  font-size: $small-font;
  .users-name, .posts-item-date, .posts-item-comments, .posts-item-admin, .posts-actions, .posts-item-user {
    display: inline;
  }
}

.posts-stats{
  display: inline;
}

.posts-commenters-avatars{
  display: flex;
  .avatar{
    margin-right: $hmargin;
  }
}

//////////////////////////////////////////////////////
// Post Page                                        //
//////////////////////////////////////////////////////

.posts-page{
  .posts-item{
    @include border-radius;
    border: $border;
    padding: $hmargin;
    margin-bottom: $vmargin;
  }
}

.posts-page-body{
  font-size: $large-font;
  margin-bottom: $hmargin;
}

//////////////////////////////////////////////////////
// Other Elements                                   //
//////////////////////////////////////////////////////

.posts-day{
  margin-bottom: $vmargin * 2;
  .posts-load-more{
    border: none;
    padding: 0;
    &:hover{
      background: inherit;
      color: inherit;
      border: inherit;
    }
  }
  .posts-no-results{
    margin-top: $vmargin;
  }
}

.posts-edit-form-header{
  @include flex-center;
  justify-content: space-between;
}

.posts-edit-form-admin{
  @include flex-center;
  justify-content: space-between;
  margin-bottom: $vmargin * 2;
}
