{
  "parser": "babel-eslint",
  "plugins": [ "mocha" ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "arrow-parens": ["error", "always"],
    "max-len": 0,
    "comma-dangle": 0,
    "new-cap": 0,
    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "class-methods-use-this": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/extensions": 0,
    "jsx-a11y/img-has-alt": 0,
    "react/require-default-props": 0
  }
}
