.button {
  box-sizing: border-box;
  border: 1px solid #ddd;
  height: 1.5em;
  color: #888;
  border-radius: 1.5em;
  line-height: 1.2em;
  cursor: pointer;
  background-color: #fff;
  width: 2.5em;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.button:focus {
  background-color: #eee;
  color: #999;
  outline: 0; /* reset for :focus */
}

.button:hover {
  background-color: #eee;
  color: #999;
}

.button:active {
  background-color: #ddd;
  color: #777;
}

.button:disabled {
  background-color: #F5F5F5;
  color: #ccc;
}
