.header {
  background: #fff;
  text-align: center;
}

@media (max-width: 480px) {
  .header {
    padding: 5rem 0 0 0;
  }
}

@media (min-width: 481px) {
  .header {
    padding: 8rem 0 0 0;
  }
}

.logo {
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 263px;
  height: 209px;
  opacity: 1;
}

.hiddenLogo {
  composes: logo;
  opacity: 0;
}

.logoText {
  color: #979797;
  font-size: 36px;
  font-weight: 200;
}

.tagline {
  font-size: 18px;
  margin-top: 0.4em;
  margin-bottom: 1em;
}

.githubWrapper {
  margin-bottom: 1.5em;
  height: 33px;
  opacity: 0;
}

.center {
  text-align: center;
}

.whatText {
  text-align: center;
  max-width: 488px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  margin-top: 0;
  padding-top: 4rem;
  font-size: 1.05rem;
}

.whyText {
  text-align: justify;
  max-width: 488px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.flexCenteredDisplay {
  display: flex;
  justify-content: center;
}

.teamImage {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 0 auto;
}

.teamTwitterLink {
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
}

.teamSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.teamMember {
  display: flex;
  flex-direction: column;
  flex-basis: 130px;
}

.specialThanks {
  text-align: center;
  margin-top: 3rem;
}

.demo {
  display: block;
  margin: 0 auto;
}

.demoWrapper {
  margin: 0 auto;
  margin-bottom: -3rem;
}
