.root {
  text-align: center;
  padding-top: 10em;
}

.center {
  text-align: center;
}


.param {
  margin: 10px 0;
  display: flex;
}

.paramName {
  font-weight: bold;
  width: 125px;
  display: inline-block;
  flex-shrink: 0;
}

.subParams {
  margin-top: 10px;
}

.subParam {
  margin-bottom: 5px;
  display: flex;
}

.subParamName {
  font-weight: bold;
  margin-right: 5px;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.listEntry {
  margin-top: 1rem;
}

.guideCodeBlock {
  margin-top: 1rem;
  margin-bottom: 1rem !important;
}
