<template name="css">
  <style>
      body{
        background: {{getSetting "backgroundCSS"}};
      }
      input[type="submit"], button, .button, .auth-buttons #login-buttons #login-buttons-password, .btn-primary, .error, .mobile-menu-button, .login-link-text, .post-category:hover{
        background-color: {{getSetting "buttonColor"}} !important;
        color: {{getSetting "buttonTextColor"}} !important;
      }
      a:hover, .post-content .post-heading .post-title:hover, .post-content .post-upvote .upvote-link i, .comment-actions a i, .comment-actions.upvoted .upvote i, .comment-actions.downvoted .downvote i, .toggle-actions-link, .post-meta a:hover, .action:hover, .post-upvote .upvote-link i{
        color: {{getSetting "buttonColor"}};
      }
      .post-upvote .upvote-link i{
        border-color: {{getSetting "buttonColor"}};
      }
      .toggle-actions-link{
        border-color: {{getSetting "buttonColor"}};
      }
      .post-content .post-upvote .upvote-link.voted i.icon-check{
        /*color: {{getSetting "secondaryColor"}};*/
      }
      .header{
        background-color: {{getSetting "headerColor"}};
      }
      .header, .header .logo a, .header .logo a:visited{
        color: {{getSetting "headerTextColor"}};        
      }
    .logo-image a{
      max-height:{{getSetting "logoHeight"}}px;
      max-width:{{getSetting "logoWidth"}}px;
    }
  </style>
</template>