<template name="layout">

{{> UI.dynamic template=css}}

  <div class="ui standard post modal">
    <i class="close icon"></i>
    <div class="header standard-modal-header"> </div>
    <div class="standard-post-modal-content scroll-wrapper"></div>
  </div>

  <div class="ui basic modal ui-basic-post-modal">
    <i class="close icon"></i>
    <div class="header basic-modal-header"> </div>
    <div class="content basic-post-modal-content">
    </div>
  </div>

  <div class="ui fullscreen modal">
    <i class="close icon"></i>
    <div class="header fullscreen-modal-header"> </div>
    <div class="fullscreen-post-modal-content scroll-wrapper"></div>
  </div>

  <div class="outer-wrapper {{currentPage}}">
    {{> UI.dynamic template=mobile_nav}}
    <div class="inner-wrapper template-{{pageName}}">
    {{#if notInIframe}}
      {{> UI.dynamic template=nav}}
    {{else}}
      <div style="height:40px"></div>
    {{/if}}
      <div class="content-wrapper">
        {{> UI.dynamic template=messages}}
        {{#each heroModules}}
          {{> UI.dynamic template=getTemplate}}
        {{/each}}
        {{> yield}}
        {{> UI.dynamic template=footer}}
      </div>
      <div class="overlay hidden"></div>
    </div>
    {{{extraCode}}}
  </div>
</template>