<template name="layout">

  <style>
    {{#if backgroundColor}}
      body{
        background-color: {{backgroundColor}};
      }
    {{/if}}
    {{#if buttonColor}}
      input[type="submit"], button, .button, .auth-buttons #login-buttons #login-buttons-password, .btn, .error, .mobile-menu-button, .login-link-text{
        background-color: {{buttonColor}} !important;
      }
      a:hover, .post-content .post-heading .post-title:hover, .post-content .post-upvote .upvote-link i, .comment-actions a i, .comment-actions.upvoted .upvote i, .comment-actions.downvoted .downvote i{
        color: {{buttonColor}};
      }
    {{/if}}
    {{#if secondaryColor}}
      .post-content .post-upvote .upvote-link.voted i.icon-check{
        color: {{secondaryColor}};
      }
    {{/if}}
    {{#if headerColor}}
      .header{
        background-color: {{headerColor}};
      }
    {{/if}}
  </style>
  <div class="outer-wrapper {{currentPage}}">
    {{> UI.dynamic template=mobile_nav}}
    <div class="inner-wrapper template-{{pageName}}">
      {{> UI.dynamic template=nav}}
      <div class="content-wrapper">
        {{> UI.dynamic template=error}}
        {{> UI.dynamic template=notifications}}
        {{> yield}}
        {{> UI.dynamic template=footer}}
      </div>
      <div class="overlay hidden"></div>
    </div>
    {{{extraCode}}}
  </div>
</template>