<template name="nav">
  <header class="header grid">

    <a id="mobile-menu" href="#menu" class="mobile mobile-button menu"><i class="icon-menu"></i><span>{{i18n "Menu"}}</span></a>

    <ul class="nav site-nav desktop">
      {{#if canView}}
      <li class="dropdown">
        <a class="View" href="/">{{i18n "View"}}</a>
        <div class="dropdown-menu">
          <ul role="menu" aria-labelledby="dLabel">
            {{#each viewNav}}
              {{> navItem this}}
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
      {{#if hasCategories}}
      <li class="dropdown">
        <a class="categories" href="/">{{i18n "Categories"}}</a>
        <div class="dropdown-menu">
          <ul role="menu" aria-labelledby="dLabel">
            {{# each categories}}
              <li><a class="pending" href="{{categoryLink}}">{{name}}</a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
      {{#if isAdmin}}
      <li class="dropdown">
        <a class="admin" href="/">{{i18n "Administration"}}</a>
        <div class="dropdown-menu">
          <ul role="menu" aria-labelledby="dLabel">
            {{#each adminNav}}
              {{> navItem this}}
            {{/each}}
          </ul>
        </div>
      </li>
      {{/if}}
      <li>
        {{> search}}
      </li>
    </ul>

    {{#if logo_url}}
      <h1 class="logo image" style="height:{{logo_height}}px; width:{{logo_width}}px; top:{{logo_top}}px; margin-left:{{logo_offset}}px;">
        <a href="/">
          <img src="{{logo_url}}" style="height:{{logo_height}}px;" alt="{{site_title}}"/>
        </a>
      </h1>
    {{else}}
      <h1 class="logo"><a href="/">{{site_title}}</a></h1>
    {{/if}}

    {{#if canView}}
    <ul class="nav user-nav desktop">
      <li><a id="submit" class="submit button" href="/submit">{{i18n "Post"}}</a></li>
    </ul>
    {{/if}}

    <div class="auth-buttons">
      {{> loginButtons align="right"}}
    </div>

  </header>
</template>
