<template name="nav">
  <div id="pageslide" class="hidden">
    <ul>
      <li><a class="top" href="/top">Top</a></li>
      <li><a class="new" href="/new">New</a></li>
      {{#if currentUser.isAdmin}}
        <li><a class="users" href="/users">Users</a></li>
        <li><a class="settings" href="/settings">Settings</a></li>
        <li><a class="admin" href="/admin">Admin</a></li>
      {{/if}}
    </ul>
  </div>
  <header class="header grid">

    <a id="mobile-menu" href="#menu" class="mobile mobile-button menu"><i class="icon-menu"></i><span>Menu</span></a>
    
    <ul class="nav site-nav desktop">
      {{#if canView}}
      <li><a class="top" href="/top">Top</a></li>
      <li><a class="new" href="/new">New</a></li>
      <li><a class="digest" href="/digest">Digest</a></li>
      {{/if}}
      {{#if intercom}}
        <li><a id="Intercom" class="intercom" href="#">Support</a></li>
      {{/if}}
      {{#if currentUser.isAdmin}}
        <li><a class="users" href="/users">Users</a></li>
        <li><a class="settings" href="/settings">Settings</a></li>
        <li><a class="categories" href="/categories">Categories</a></li>
        <li><a class="admin" href="/admin">Admin</a></li>
      {{/if}}
    </ul>
    
    {{#if logo_url}}
      <h1 class="logo image" style="height:{{logo_height}}px; width:{{logo_width}}px; top:{{logo_top}}px; margin-left:{{logo_offset}}px;">
        <a href="/" style="background-image:url({{logo_url}}); background-size:{{logo_width}}px {{logo_height}}px;">{{site_title}}</a>
      </h1>
    {{else}}
      <h1 class="logo"><a href="/">{{site_title}}</a></h1>
    {{/if}}
    
    {{#if canView}}
    <ul class="nav user-nav desktop">
      <li><a id="submit" class="submit button" href="/submit">Post</a></li>
    </ul>
    {{/if}}
    
    <div class="auth-buttons">
      {{> loginButtons}}
    </div>

  </header>
</template>
